body {
    display: flex;
    align-items: center;
    justify-content: center;
}

:local(.friendListApp) {
    width: 350px;
    padding-top: 18px;
    border: 1px solid #E3E3E3;
}

:local(.friendListAppActions) {
    display: flex;
    border: 1px solid #E3E3E3;
    padding:  10px 0;    
}

:local(.searchInput) {
    flex: 2 0 150px;   
    margin-left: 5px;
}

:local(.addButton) {
    flex: 1 0 100px;
    text-align: center;    
}

:local(.friendListApp h1) {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    padding-left: 10px;
    font-family: Helvetica;
}
