:local(.friendListItem) {
  list-style: none;
  padding: 20px 10px 20px 20px;
  background-color: white;
  border-bottom: 1px solid #E3E3E3;
  display: flex;
}

:local(.friendInfos) {
  flex: 1 0 auto;
  display: flex;
}

:local(.friendPicture) {
  flex: 1 0;
  width: 45px;
  height: 45px;
  margin-right: 15px;
}

:local(.friendInfosWrap) {
  flex: 4 0; 
}

:local(.friendPosition) {
  color: dimgrey; 
}

:local(.friendInfos span) {
  font-weight: bold;
}

:local(.friendActions) {
  flex: 0 0 45px;
}

:local(.btnAction), :local(.btnAction):active, :local(.btnAction):focus, :local(.btnAction):hover {
  margin-right: 5px;
}

button:focus {
  outline: 0 !important;
}
