:local(.friendPicture) {
  width: 100px;
  height: 100px;
  padding: 10px;
}

:local(.infoWrapper) {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

:local(.photoWrapper) {
  flex:1 0;
}

:local(.specsWrapper) {
  flex:1 0;
}